/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');
@import url('https://fonts.googleapis.com/css?family=Arimo');
body {
  background-color: #BAC073;
      }
@media (min-width: 576px)
  .container {
    max-width: 540px;
}
section h3.section-subheading {
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Neucha', cursive;
}
.text-muted {
  color: #a31029!important;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
  margin-left: auto;}

.text-center {
  text-align: center!important;
}
 .col-xl-12 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;}
header{
  background-image: url(venecija.jpg);
  border: 3px solid #4b4e1d;
  border-radius: 4px;
  margin:  10px auto 60px;
  padding: 20px;
  height: 150px;
  width: 100%;
  position: relative;
}
container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;}

.p
{font: 300 italic 33px @brand-font;
text-transform: uppercase;
  margin-bottom: 0;
align-content: center;
padding-left: 200;}

.top-menu {
  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-logo {display: inline-block;}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;
}
.menu-main li {display: inline-block;}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 20px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #a31029;
  transition:.3s linear;
}
.menu-main a:before {
  content: "";
  width: 9px;
  height: 9px;
  background: #F73E24;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;
}
.menu-main a:hover:before {opacity: 1;}
@media (max-width: 660px) {
  .menu-main {
    float: none;
    padding-top: 20px;
  }
  .top-menu {
    text-align: center;
    padding: 20px 0 0 0;
  }
  .menu-main a {padding: 0 10px;}
  .menu-main a:before {transform: rotate(45deg) translateX(-6px);}
}
@media (max-width: 600px) {
  .menu-main li {display: block;}
}

.page {
  background: #f7f3ee;
  border: 3px solid #4b4e1d;
  border-radius: 4px;
  margin: 100px auto 60px;
  max-width: 1100px;
  position: relative;
}
.content {
  color: #333;
  font-size: 16px;
  line-height: 26px;
  webkit-font-smoothing: antialiased;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #a31029;
   }
.flex-container  > h3 {
  width: 100%;
  text-align: center;
  line-height: 75px;
  font-size: 14px;
  color: #1e691e
}
.flex-container {
  background-color: aliceblue;
  display: flex;
  flex-wrap: nowrap;
}
.fa-umbrella-beach  {
  color: #a22c0f; /* Цвет иконки */
  text-shadow: 2px 2px 0 #333; 
}
span{
  font-size: 14px;
  color:#0f0f12;
}
.news-wrapper {
  max-width: 800px;
  margin: 120px auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PT Sans', Arial, sans-serif;
  font-weight: bold;
}


article {
  background: #cbd7bb;
  width: 560px;	
  max-height: 900px;
  border-radius: 4px;
  margin: 10px;
  float: left;
}

article .image-holder {
  width: 37.22%;
  -webkit-box-shadow: 12px 14px 46px -3px rgba(0,0,0,0.5);
  box-shadow: 12px 14px 46px -3px
}

article .content-holder {
  width: 61.70%;
  padding: 15px 15px 15px 20px;
}

article .content-holder h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #a31029;
}

article .content-holder p {
  font-size: 16px;
  text-align: left;
}
p {width: 130;
  height: 100;
  font-size: 14px;

}
a.show-more {
  display: inline-block;
  margin-top: 10px;
  color: #3C8204;
}
.texth{
  text-transform: uppercase;
  font-size: 24px;
  color: #a31029;
}
.text2{
  font-size: 16px;
  color: #a31029;
  text-decoration-line: overline;
  text-align: center
}
.text3{
    color: #2e2828;
    font-size: 22px;
  line-height: 1.5;
  font-family: Brush Script MT, Brush Script Std, cursive;
  }

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

